<div class="banner" style="background-image: url(https://www.rspca.org.uk/webContent/staticImages/SectionImages/ExoticPets.jpg);">
  <div class="container">
    <h1><strong>Client Bookings</strong></h1>
  </div>
</div>
</div>
<div class="container">
  <% @bookings.each do |booking| %>
    <div class="card-product mt-3 mb-4">
      <div class="card-info">
      <img src='<%= booking.animal.photo.attached? ? cl_image_path(booking.animal.photo.key) : "https://mycountrysidevet.com/wp-content/uploads/2018/08/shutterstock_1043006710.jpg" %>' />
        <div class="card-product-infos">
          <h2>Client Name: <%= booking.user.first_name.capitalize %></h2>
          <h2>Animal Name: <%= booking.animal.name %></h2>
          <h2>Status: <%= booking.status.capitalize %></h2>
          <h2>Start date: <%= booking.start_date %></h2>
          <h2>End date: <%= booking.end_date %></h2>
        </div>
      </div>

      <div class="booking-buttons">
        <%= link_to edit_booking_path(booking) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
          <%= f.submit 'Confirm', class: 'btn btn-primary button-custom' %>
        <% end %>
        <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'denied'} %>
          <%= f.submit 'Decline', class: 'btn btn-info button-custom' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
