<div class="banner" style="background-image: url(https://media.baamboozle.com/uploads/images/452366/1629644076_111411_gif-url.gif);">
  <div class="container">
    <h1><strong>Client Bookings</strong></h1>
  </div>
</div>
</div>
<div class="container">
  <% @bookings.each do |booking| %>
    <div class="card-product mt-3 mb-4">
      <div class="card-info">
        <img src='<%= booking.animal.photo.attached? ? cl_image_path(booking.animal.photo.key) : "https://mycountrysidevet.com/wp-content/uploads/2018/08/shutterstock_1043006710.jpg" %>' />
        <div class="card-product-infos d-flex row p-3">
          <div class="d-grid mb-3">
            <div class="container mt-3">
              <h2>Client Name: <%= booking.user.first_name.capitalize %></h2>
              <h2>Animal Name: <%= booking.animal.name.capitalize %></h2>
              <h2>Status: <%= booking.status.capitalize %></h2>
            </div>
            <div class="d-flex justify-content-evenly">
              <i class="far fa-calendar-alt me-3"></i>
              <h2 class="me-1"><%= booking.start_date.strftime("%B %y") %></h2>
              <h2>- <%= booking.end_date.strftime("%B %y") %></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card-product-infos d-grid">
        <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
          <%= f.submit 'Confirm', class: 'btn btn-primary' %>
        <% end %>
        <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'denied'} %>
          <%= f.submit 'Decline', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
