<h1>Editing Booking</h1>
<div class="container mt-3 mb-4">
  <%= simple_form_for @booking do |f| %>
      <%= f.input :start_date, html5: true %>
      <%= f.input :end_date, html5: true %>
      <%= f.submit %>
  <% end %>
</div>
<%= link_to 'Back', :back, class: "btn btn-info btn-md ms-3" %>
