<div class="banner" style="background-image: url(https://i.gifer.com/DFBC.gif);">
  <div class="container">
    <h2>Need something?</h2>
    <div class="row">
      <div class="col col-sm-6 col-md-4">
        <%= render "shared/search" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @animals.each do |animal| %>
      <div class="card-trip">
        <%# <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
        <img src='<%= animal.photo.attached? ? cl_image_path(animal.photo.key) : "https://mycountrysidevet.com/wp-content/uploads/2018/08/shutterstock_1043006710.jpg" %>' />
        <%# <img src="https://mycountrysidevet.com/wp-content/uploads/2018/08/shutterstock_1043006710.jpg" /> %>
        <div class="card-trip-infos">
          <div>
            <h2><strong><%= link_to animal.name, animal_path(animal), class:"text-decoration-none", style:"color: black;"%></strong>
              <% if animal.sex == "Unknown" %>
                <i class="fas fa-genderless" style="color: gold;"></i>
              <% elsif animal.sex == "Male" %>
                <i class="fas fa-mars" style="color: blue;"></i>
              <% else %>
                <i class="fas fa-venus" style="color: hotpink;"></i>
              <% end %>
            </h2>
            <p><strong><%= animal.species %></strong></p>
            <% if animal.rarity_level == "Threatened" %>
              <p><i class="fas fa-times-circle" style="color: green;"></i> Threatened</p>
            <% elsif animal.rarity_level == "Endangered" %>
              <p><i class="fas fa-exclamation-triangle" style="color: gold;"></i> Endangered</p>
            <% else %>
              <p><i class="fas fa-skull-crossbones" style="color: black;"></i> Extinct in the Wild</p>
            <% end %>
          </div>
          <div class="text-end">
            <div class="d-flex mb-3">
              <% animal.average_rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - animal.average_rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            <h2 class="card-trip-pricing">$<%= animal.price %>/day</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://worldbirds.com/wp-content/uploads/2020/05/unicorn3.jpg"><i class="fab fa-github"></i></a>
    <a href="https://animalcorner.org/wp-content/uploads/2015/02/racoon.png"><i class="fab fa-instagram"></i></a>
    <a href="https://cdn-japantimes.com/wp-content/uploads/2014/10/f-cheetahs-a-20141004.jpg"><i class="fab fa-facebook"></i></a>
    <a href="https://ichef.bbci.co.uk/news/976/cpsprodpb/793E/production/_117883013_gorilla_dianfosseygorillafund1.jpg"><i class="fab fa-twitter"></i></a>
    <a href="https://cdn.wallpapersafari.com/11/95/QqDp5C.jpg"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> Exoticals
  </div>
</div>
