<div class="banner" style="background-image: url(https://s26162.pcdn.co/wp-content/uploads/2019/11/Screen-Shot-2019-11-06-at-5.53.05-PM.png);">
  <div class="container">
    <h1><strong>New Listing</strong></h1>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@animal] do |f| %>
      <%= f.input :name %>
      <%= f.input :species %>
      <%= f.input :rarity_level %>
      <%= f.input :location %>
      <%= f.input :age %>
      <%= f.input :sex %>
      <%= f.input :diet %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
  <% end %>
</div>
